<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
 <h1>Registro de usuarios</h1>
<form action="/api/sessions/register" method="POST">
    
    <label for="first_name">Nombre:</label>
    <input type="text" id="first_name" name="first_name" placeholder="Nombre" required>
    <br><br>

    <label for="last_name">Apellido:</label>
    <input type="text" id="last_name" name="last_name" placeholder="Apellido" required>
    <br><br>

    <label for="email">Correo electr칩nico:</label>
    <input type="email" id="email" name="email" placeholder="Correo electr칩nico" required
    pattern=" ^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)$">
    <br><br>

    <label for="age">Edad:</label>
    <input type="number" id="age" name="age" placeholder="Edad" required min="0">
    <br><br>

    <label for="password">Contrase침a:</label>
    <input type="password" id="password" name="password" placeholder="Contrase침a" required>
    <br><br>

    <button type="submit">Registrarse</button>
</form> 
<p>Dispone de una cuenta? <a href="/login">Login</a></p>
</body>
</html>

